.main-app {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home {
  background-color: #f5f7f8;
}

.hero {
  width: 100%;
}
.color-text {
  color: #394d6f;
  font-family: monospace;
}
